*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, sans-serif;
  background-color: #0b0c10;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100vh;
}
