@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.wrapper {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 24px 24px $space-xxl 24px;
  
  @include mobile {
    padding: 16px 16px $space-xl 16px;
  }
}

